* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-padding-top: 4rem;
  --background-section-card: color-mix(in oklab, #f5f5f5 5%, transparent);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  margin-inline: auto;
  padding: 0rem 1rem;
  background-image: linear-gradient(to top, #27272a, #18181b, #09090b);
  color: #f5f5f5;
  background-attachment: scroll;
  position: relative;
}

header {
  margin-bottom: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-block: 1.25rem;
}

.navbar {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.75rem;
}

.navbar-name {
  border-radius: calc(infinity * 1px);
  background-color: color-mix(in oklab, #f5f5f5 10%, transparent);
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

nav > ul {
  border-radius: calc(infinity * 1px);
  background-color: var(--background-section-card);
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

nav > ul > li > a {
  text-decoration: none;
  color: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: color 0.3s ease;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
}

.section-card {
  padding: 1.5rem;
  border-radius: 0.375rem;
  backdrop-filter: blur(8px);
  margin-bottom: 1.5rem;
  border-color: rgba(161, 161, 170, 0.155);
}

.section-card h1 {
  font-size: 2.5rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 2.25rem;
  max-width: 56rem;
}

.section-about-description {
  max-width: 60rem;
  font-size: 1rem;
  color: #9f9fa9;
  text-wrap: balance;
  margin-bottom: 2rem;
}

.section-about-description p {
  margin-bottom: 1rem;
  font-weight: 500;
}

.image-section {
  width: 150px;
  height: 150px;
  border-radius: calc(infinity * 1px);
  margin-bottom: 2rem;
}

.section-card h2 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.section-about-socialmedia {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.section-about-socialmedia > a > svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #9f9fa9;
}

.section-about-socialmedia > a > svg:hover {
  fill: #d3d3e3;
  transition: fill 0.3s ease;
}

.section-about-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 54rem;
}

.section-about-contact-button > button {
  padding: 0.65rem 1.4rem;
  font-size: 0.825rem;
  font-weight: 500;
  color: #f5f5f5;
  background-color: #6d6d74;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
}

.section-about-contact-button > button:hover {
  background-color: #52525b;
  transition: background-color 0.3s ease;
}

.section-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2rem;
  /* margin-top: 1.5rem; */
}

.section-skills > div > svg {
  width: 4rem;
  height: 4rem;
}

.section-skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.section-skills-item h3 {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.section-skills-item p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #9f9fa9;
}

.section-project {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;
}

.section-project > a {
  display: block;
}

.section-project > a > img {
  width: 100%;
  border-radius: 0.375rem;
}

.section-project > a > img:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.btn-back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid rgba(161, 161, 170, 0.155);
  border-radius: calc(infinity * 1px);
  background-color: var(--background-section-card);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.btn-back-to-top:hover {
  background-color: color-mix(in oklab, #f5f5f5 10%, transparent);
  transition: background-color 0.3s ease;
}

.btn-back-to-top > svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #9f9fa9;
}

footer {
  text-align: center;
  padding: 2rem 0;
  font-size: 0.875rem;
  color: #9f9fa9;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--background-section-card);
}

/* Mobile */
@media (width >= 40rem /* 640px */) {
  .container {
    max-width: 40rem;
  }

  .body-sm {
    padding-inline: 2rem;
  }

  .section-card {
    padding: 2.5rem;
    border-style: solid;
    border-width: 1px;
    background-color: var(--background-section-card);
  }
}

@media (width >= 48rem) {
  body {
    background-attachment: fixed;
  }

  .section-project {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    max-width: 48rem;
  }
}

/* Desktop */
@media (width >= 64rem) {
  .section-project {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    max-width: 64rem;
  }
}

@media (width >= 80rem) {
  .container {
    max-width: 80rem;
  }
}

@media (width >= 96rem) {
  .container {
    max-width: 96rem;
  }
}
